@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

html {
  height: 100%;
  display: flex;
  background: #1a2a6c;
  background: -webkit-linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);
  background: linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);
}

body {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  text-align: center;
  border-radius: 10px;
  background: rgba(21, 25, 28, 0.72);
  box-shadow: 0 8px 20px 0 rgba(14, 17, 61, 0.37);
  backdrop-filter: blur( 6.5px );
  -webkit-backdrop-filter: blur( 6.5px );
  padding: 10px;
}

.td_list{
  width: 450px;
  padding: 10px 16px;
}

.td_list h1{
  color: #f6f6f6;
  font-family: 'Bruno Ace SC';
  font-size: 2.2em;
  letter-spacing: 1px;
}

.td_list h3{
  color: #070707;
  font-size: 1.1em;
  letter-spacing: 1px;
}

.btn_input{
  background-color: #80d04e;
  border: none;
  outline: none;
  padding: 7px;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 5px;
  color: white;
  margin-left: 10px;
  cursor: pointer;
}

.btn_delete{
  border: none;
  padding: 8px;
  font-size: 1em;
  font-weight: bold;
  border-radius: 5px;
  color: whitesmoke;
  background-color: #c52222;
}

.td_input{
  padding: 2px;
  background: #f8f8f8;
}

.td_input > .text {
  outline: none;
  padding: 0px 10px;
  font-size: 1em;
  width: 240px;
  height: 46px;
  border: none;
}

.nuevo_item{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
}

.texto_tarea{
  color: whitesmoke;
  font-size: 1.1em;
  letter-spacing: 1px;
}

.td_lista{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  color: #070707;
}